.main-container
{
    padding: 1rem;
}

.messages-container
{
    display: grid;
 
    grid-template-columns: repeat(4, 1fr);
 
    grid-auto-rows: auto;
    margin: 0px auto;
    padding: 1rem;
    border-radius: 10px;
}